@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "compass";

$gradient1: rgb(252, 205, 88);
$gradient2: rgb(255, 102, 0);
$fontcolor: black;
$portfolioImgHeight: 250px;



html {
	@include background(url('../images/outside.png'),
		radial-gradient(45% 60%, ellipse cover,  $gradient1, $gradient2));
	background-repeat: no-repeat;         
	// background-size: cover;     
	min-height: 800px;  
	height: 100%; 
	width: 100%;
	// background-attachment:fixed;
	background-position:center bottom; 
	background-image: url('../images/outside.png'), -ms-radial-gradient(center, circle farthest-corner, $gradient1 0%, $gradient2 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: url('../images/outside.png'), radial-gradient(circle farthest-corner at center, $gradient1 0%, $gradient2 100%);
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	//big screen
	min-height: 900px; 
}


body {
    background-color:transparent;
}

a{
	color: black;
}


a:hover{
	color: black;
}

div.row{
	color: $fontcolor;
	font-family: 'Wellfleet', cursive !important;
}

div.navLinks{
	height: 140px;
}

div#about{
	.buttons{
		text-align: center;
		padding-top: 30px;
		// float: right;
		button{
			font-family: 'Wellfleet', cursive !important;
		}
	}
	.tagline{
		font-size: 2.6em;
		line-height: 1.2em;
	}
	.ahoy{
		font-size: 2em;
		line-height: 1.2em;
	}
	img{
		width: 110px;
	}
}

div#aboutModal, div#aboutModal button{
	font-family: 'Wellfleet', cursive !important;
	a{
		text-decoration: underline;
	}
}



.noSelection {
    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
}


#portfolioImgContainer{
width: 100%;
height: $portfolioImgHeight;
overflow: hidden;

}
div.navLinks{
	text-align: center;
ul.nav {
	display: inline-block;
	li{
		float: left;
		display: inline-block;
		padding: 1px 5px;
	}
	a:hover{ 
		background-color:transparent;
	}
}
}
#portfolio{
div.jcarousel-next.jcarousel-next-horizontal{
	margin: -30px -50px 0 0;
}
div.jcarousel-prev.jcarousel-prev-horizontal{
	margin: -30px 0 0 -50px;
}
}



div.navbar-inner{
	text-align: center;
}

div#image img{
	max-height: 355px;
	max-width: 570px;
	margin: 0 auto;
	display: block;
}

div.navbar-inner a.brand{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div.main{
	margin-top: 30px;
}

div.main > div{
	display: none;
}

#portfolioWrapper{
	margin: 0 auto;
	width: 90%;
	li{
		display: inline;
	}
	#portfolioImgs img.thumb{
		opacity: .3;
		border-radius: 5px;
		margin: 5px;
	}
	#portfolioImgs img.thumb:hover{
		opacity: .9;
	}
}

#portfolioImgContainer{
	a.fancybox img{
		max-height: $portfolioImgHeight;
	}
}
ul#tweetCarousel{
	list-style: none;

	img{
		float:left;
	}

	li{
		float:none;
		height: auto !important;
		width: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
	}
	a.tweeter, .tweetTxt{
		padding: 0 0 0 5px;
	}

	abbr.timeago{
		// opacity: .6;
		color: grey;
		font-style:italic;
	}
}

div#explore {

	.exploreWrapper{
		margin: 10px 0; 
		clear: both;
	}

	img{
		float: left;
		width: 175px;
		margin: 0 10px 0 0;
	}

}

div.soc{
	margin: 0 0 0 50px;
	img{
		margin: 10px;
	}
}

.left{
	// float:left;
	display: inline-block;
}


@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 

@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}
 

@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}
////////////////////////////////////////////////////////////

@-webkit-keyframes wiggle2 {
	0% {-webkit-transform:rotate(-2deg);}
	50% {-webkit-transform:rotate(2deg);}
	100% {-webkit-transform:rotate(-2deg);}
}
 

@-moz-keyframes wiggle2 {
	0% {-moz-transform:rotate(-2deg);}
	50% {-moz-transform:rotate(2deg);}
	100% {-moz-transform:rotate(-2deg);}
}
 

@keyframes wiggle2 {
	0% {transform:rotate(-2deg);}
	50% {transform:rotate(2deg);}
	100% {transform:rotate(-2deg);}
}
////////////////////////////////////////////////////////////

@-webkit-keyframes wiggle3 {
	0% {-webkit-transform:rotate(6deg);}
	50% {-webkit-transform:rotate(-6deg);}
	100% {-webkit-transform:rotate(6deg);}
}
 

@-moz-keyframes wiggle3 {
	0% {-moz-transform:rotate(6deg);}
	50% {-moz-transform:rotate(-6deg);}
	100% {-moz-transform:rotate(6deg);}
}
 

@keyframes wiggle3 {
	0% {transform:rotate(6deg);}
	50% {transform:rotate(-6deg);}
	100% {transform:rotate(6deg);}
}
 
////////////////////////////////////////////////////////////

.wiggler1 {
	-webkit-animation: wiggle 7.2s infinite;
	-moz-animation: wiggle 7.2s infinite;
	animation: wiggle 7.2s infinite;
}

.wiggler2 {
	-webkit-animation: wiggle2 6s infinite;
	-moz-animation: wiggle2 6s infinite;
	animation: wiggle2 6s infinite;
}

.wiggler3 {
	-webkit-animation: wiggle 8s infinite;
	-moz-animation: wiggle 8s infinite;
	animation: wiggle 8s infinite;
}

.wiggler4 {
	-webkit-animation: wiggle 8s infinite;
	-moz-animation: wiggle 8s infinite;
	animation: wiggle 8s infinite;
}

.wiggler5 {
	-webkit-animation: wiggle3 10s infinite;
	-moz-animation: wiggle3 10s infinite;
	animation: wiggle3 10s infinite;
}

.wiggler6 {
	-webkit-animation: wiggle2 5.8s infinite;
	-moz-animation: wiggle2 5.8s infinite;
	animation: wiggle2 5.8s infinite;
}


div.navLinks{

	.explore, .about, .contact, .portfolio{
		background: url(../images/nav-sprite.png) no-repeat;
		width: 240px;
		height: 160px;
	}

	.explore{
		background-position: -480px -1px ;
		
	}

	.explore:hover{
		background-position: -480px -160px ;
	}

	.about{
		background-position: 0 0;
	}

	.about:hover{
		background-position: 0 -160px ;
	}

	.contact{
		background-position: -720px 0;
	}

	.contact:hover{
		background-position: -720px -160px ;
	}

	.portfolio{
		background-position: -240px 0;
	}

	.portfolio:hover{
		background-position: -240px -160px ;
	}
}


@media all and (max-width: 1200px) and (min-width: 905px){
	ul#tweetCarousel li {
		width: 90%;
	}

	div.right{
		margin-left: 0;
	}
	div.soc img{
		width: 80%;
	}

	// div.main{
	// 	width: 100%;
	// }

	div.navLinks{

		.explore, .about, .contact, .portfolio{
			background: url(../images/nav-sprite-med.png) no-repeat;
			width: 216px;
			height: 144px;
		}

		.explore{
			background-position: -432px -1px ;
			
		}

		.explore:hover{
			background-position: -432px -144px ;
		}

		.about{
			background-position: 0 0;
		}

		.about:hover{
			background-position: 0 -144px ;
		}

		.contact{
			background-position: -648px 0;
		}

		.contact:hover{
			background-position: -648px -144px ;
		}

		.portfolio{
			background-position: -216px 0;
		}

		.portfolio:hover{
			background-position: -216px -144px ;
		}
	}
}

@media all and (max-width: 979px) {

	ul#tweetCarousel li {
		width: 75%;
	}

	div.row{
		margin: 0 20px;
	}	

	.side{
		display: none;
	}

	.right .jcarousel-clip{
		width: 250px;
	}

	.main{
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	div.soc img{
		width: 70%;
	}

	.tagline{
		font-size: 2.5em;
	}

	div.navLinks{

		.explore, .about, .contact, .portfolio{
		background: url(../images/nav-sprite-small.png) no-repeat;
		width: 180px;
		height: 120px;
		}

		.explore{
		background-position: -360px -1px ;
		
		}

		.explore:hover{
			background-position: -360px -120px ;
		}

		.about{
			background-position: 0 0;
		}

		.about:hover{
			background-position: 0 -120px ;
		}

		.contact{
			background-position: -540px 0;
		}

		.contact:hover{
			background-position: -540px -120px ;
		}

			.portfolio{
			background-position: -180px 0;
		}

		.portfolio:hover{
			background-position: -180px -120px ;
		}

		#recCarousel p{
			width: 170px;
		}

		.left{
			.jcarousel-next{
				right: 30px;

			}
		}

		div.row{
			margin-left: -40px;
		}

		div.main{
			padding-left: 30px;
			width: 100%;
		}

	}
}		


@media all and (max-width: 800px) {

	div.navLinks{

		height: 90px;

		.explore, .about, .contact, .portfolio{
			background: url(../images/nav-sprite-mobile.png) no-repeat;
			width: 120px;
			height: 80px;
		}
		div.main{
			width: 100%;
			margin-top: 70px;
		}

		.tagline{
			font-size: 2.3em;
		}

		.explore{
			background-position: -240px -1px ;
			
		}

		.explore:hover{
			background-position: -240px -80px ;
		}

		.about{
			background-position: 0 0;
		}

		.about:hover{
			background-position: 0 -80px ;
		}

		.contact{
			background-position: -360px 0;
		}

		.contact:hover{
			background-position: -360px -80px ;
		}

		.portfolio{
			background-position: -120px 0;
		}

		.portfolio:hover{
			background-position: -120px -80px ;
		}
	}
}

@media all and (max-width: 600px) {
	.clearBoth{
		clear: both;
	}

	div.main{
		margin-top: 70px;
	}

	div.left{
		width: 100px;
	// 	float: left;
	// 	margin: 0;
	}

	div.row{
		// margin: 0 inherit;
		// margin-left: -20px;
	}

	div#about {

	.tagline{
		font-size: 2.1em;
	}
	img{
		float:left;
	}
	button{
		margin-top: 20px;
	}
	}
}