@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";


// div.main div{
// 	display: none;
// }

.rounded {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.left{
	 img{
		float: left;
	}
	.tweetTxt{
		margin: 0 0 0 55px;
		line-height: 15px;
	}
	.tweeter{
		margin: 0 0 0 5px;
	}
	.jcarousel-container{
		padding: 40px 0;
	}
}

.no_selection {
    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
}

#portfolioImgContainer{
// width: 100%;
height: 360px;
overflow: hidden;

}
div.navLinks{
	text-align: center;
ul.nav {
	display: inline-block;
	li{
		float: left;
		display: inline-block;
		padding: 1px 5px;
	}
}
}



div.navbar-inner{
	text-align: center;
}

div#image img{
	max-height: 355px;
	max-width: 570px;
	margin: 0 auto;
	display: block;
}

div.navbar-inner a.brand{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

// div#portfolio img{
// 	width:40px;
// }