@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "compass";

$gradient1: rgb(252, 205, 88);
$gradient2: rgb(255, 102, 0);
$fontcolor: black;

html {

	@include background(url('../images/outside.png'),
		radial-gradient(45% 60%, ellipse cover,  $gradient1, $gradient2));
	background-repeat: no-repeat;         
	background-size: cover;       
	height: 100%; 
	width: 100%;
	background-attachment:fixed;
	background-position:center bottom; 
}

body {
    background-color:transparent;
}

div.row{
	color: $fontcolor;
	font-family: 'Wellfleet', cursive !important;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

div.navLinks{
	height: 140px;
}


.noSelection {
    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
}


#portfolioImgContainer{
width: 100%;
height: 360px;
overflow: hidden;

}
div.navLinks{
	text-align: center;
ul.nav {
	display: inline-block;
	li{
		float: left;
		display: inline-block;
		padding: 1px 5px;
	}
	a:hover{ 
		background-color:transparent;
	}
}
}
#portfolio{
div.jcarousel-next.jcarousel-next-horizontal{
	margin: -30px -50px 0 0;
}
div.jcarousel-prev.jcarousel-prev-horizontal{
	margin: -30px 0 0 -50px;
}
}



div.navbar-inner{
	text-align: center;
}

div#image img{
	max-height: 355px;
	max-width: 570px;
	margin: 0 auto;
	display: block;
}

div.navbar-inner a.brand{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div.main > div{
	display: none;
}

#portfolioWrapper{
	margin: 0 auto;
	width: 90%;
	li{
		display: inline;
	}
}

ul#tweetCarousel{
	list-style: none;

	img{
		float:left;
	}

	li{
		float:none;
		height: auto !important;
		width: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
	}
	a.tweeter, .tweetTxt{
		padding: 0 0 0 5px;
	}
}